.hrc-border-bottom {
  border-bottom: 1px solid $black;
}

.hrc-font-family-2 {
  font-family: $font-family-sans-serif-2;
}

.hrc-card {
  display: flex;
  flex: 1 1 auto;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  margin-bottom: 40px;

  &-content-wrapper {
    margin-right: 20px;
  }

  &-meta {
    color: $gray-700;
    font-size: 13px;
    font-weight: 300;
  }

  &-content {
    text-decoration: none;
    display: block;

    &:hover {
      color: $black;
    }

    &:focus {
      opacity: 0.8;
    }
  }

  &-text {
    color: $gray-700;
    font-weight: 300;
  }

  &-title {
    font-weight: $font-weight-bold;
    color: $body-color;
  }

  &-image {
    .img-fluid {
      height: 134px;
      max-width: initial;
    }
  }
}


div.badge.hrc-category-badge {
  padding: 2px 8px;
  border-radius: 100px;
  font-weight: normal;
  font-size: 13px;
  line-height: 20px;
  color: $gray-700;
}

.hrc-article {
  overflow: hidden;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  ul,
  a,
  p,
  figcaption {
    font-family: $font-family-sans-serif-2;
  }

  p,
  li {
    line-height: 1.8;
  }

  pre {
    border-radius: 10px;
  }

  img {
    width: 100%;
    height: auto;
    border-radius: 10px;
  }

  figcaption {
    text-align: center;
    font-size: 13px;
  }
}

.hrc-article-header {
  font-weight: 300;
}

.hrc-caption {
  text-transform: uppercase;
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 0.083em;
}

.hrc-pill {
  border: 1px solid $gray-400;
  color: $gray-700;
  padding: 6px 16px;
  display: inline-block;
  text-decoration: none;
  font-size: 13px;

  &:hover {
    color: $gray-700;
  }
}

.hrc-tag {
  color: $gray-600;
}

.hrc-author {
  &-image-wrapper {
    margin-right: 20px;
  }

  &-name {
    font-size: 22px;
    font-weight: bold;
  }

  &-position {
    color: $gray-700;
    text-transform: uppercase;
    font-size: 13px;
  }

  &-bio,
  &-bio p {
    font-family: $font-family-sans-serif;
    line-height: 1.4;
  }

  img {
    border-radius: 50%;
    max-width: 150px;
  }
}

.fs-10 {
  font-size: 10rem !important;
}
